* {
    margin: 0 auto;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: content-box;
}

p {
    color: var(--v-white-base);
}

.v-text-field__details {
    display: none !important;
}

.list {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    min-height: 100vh;
    border-right: 1px solid var(--v-borderGray-base);

    &-items {
        height: 75vh;
        overflow-y: scroll;
    }

    &-profile {
        min-height: 48px;
        padding: 8px 16px;
    }
}


.chat{
    position: relative;
    height: 100vh;

    &__shrink {
        width: calc(100% - 300px);
    }

    &-container {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(100vw - 300px);
    }

    &-header {
        position: relative;
        border-bottom: 1px solid var(--v-borderGray-base);

        &-back {
            cursor: pointer;
        }

        &-content {
            cursor: pointer;
        }

        &-info {
            margin-left: 15px;
            line-height: 18px;

            &-name {
                font-weight: 500;
            }

            &-status {
                font-size: 0.8125rem;
                color: var(--v-stampColor-base);
            }
        }
    }

    &-content {
        color: var(--v-background-base);
        padding: 10px 0 60px;
        overflow-y: scroll;
        height: 90vh;
        background: var(--v-background-darken1);

        &-text {
            position: relative;
            width: 250px;
            padding: 0px;
            border-radius: 10px;
            padding: 5px;
            font-size: 14px;

            span {
                color: var(--v-white-base);
            }

            &:after {
                content: '';
                position: absolute;
                border-style: solid;
                display: block;
                width: 0;
                z-index: 1;
                top: 0;
            }

            &__sent {
                margin: 5px 20px 0 auto;
                border-radius: 10px;
                border-top-right-radius: 0;
                background: #2a6162;

                &:after {
                    border-color: transparent #2a6162;
                    border-width: 0px 0 12px 8px;
                    right: -8px;
                }
            }

            &__recieved {
                margin: 5px 0 0 20px;
                border-radius: 10px;
                border-top-left-radius: 0;
                background: var(--v-secondary-base);

                &:after {
                    border-color: transparent var(--v-secondary-base);
                    border-width: 0px 8px 12px 0;
                    left: -8px;
                }
            }

            span {
                display: block;
                text-align: right;
                font-size: 12px;
                line-height: 0px;
                margin-bottom: 5px;
            }
            
        }
    }

    &-compose {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 2;
        background: var(--v-background-base);
    }
}

.contact-info {
    position: absolute;
    top: 0;
    right: -300px;
    bottom: 0;
    width: 300px;
    background: var(--v-background-base);
    border-left: 1px solid var(--v-borderGray-base);
    z-index: 10;

    &__hide {
        right: -300px;
    }

    &__show {
        right: 0;
    }

    &-header {
        background: var(--v-background-base);
        border-bottom: 1px solid var(--v-borderGray-base);
        padding-bottom: 14px !important;

        p {
            color: var(--v-stampColor-base);
        }
    }

    &-profile {
        border-bottom: 1px solid var(--v-borderGray-base);

        &-status {
            width: 100%;

            p {
                font-size: 0.8125rem;
                color: var(--v-stampColor-base);
            }
        }
    }

    &-about {
        &-title {
            color: var(--v-primary-base);
            font-weight: 400;
        }

        p {
            font-size: 0.8125rem;
            color: var(--v-stampColor-base);
        }

        &-text {
            margin-bottom: 10px;
            border-bottom: 1px solid var(--v-borderGray-base);
        }
    }

    &-groups {
        &-title {
            color: var(--v-primary-base);
            font-weight: 400;
        }

        &-text {
            font-size: 0.8125rem;
            color: var(--v-stampColor-base);
        }

        &-text:nth-child(2) {
            border-bottom: 1px solid var(--v-borderGray-base);
        }
    }
}

.contact {
    &-title {
        font-size: 1rem !important;
    }

    &-last-seen {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 0.8125rem;
        font-weight: 500;
        line-height: 1rem;
        padding-top: 6px;
    }
}

$breakpoint-large-mobile: 600px;
$breakpoint-small-mobile: 376px;
$breakpoint-tablet: 880px;
@media (max-width: $breakpoint-large-mobile) {
    .v-text-field {
        padding-top: 0 !important;
        margin-top: 0 !important;
    }

    .list {
        width: 100%;

        &-items {
            height: 100vh;
            padding-bottom: 20px;
        }
    }

    .chat-container {
        width: 100%;
    }

    .chat-compose {
        padding: 0px 16px !important;
    }
}

@media (max-width: $breakpoint-tablet) {
    .contact {
        &-info {
            width: 100%;

            &__hide {
                right: -1000px;
            }
        }
    }
}