<template lang="pug">
section.chat-container
  div(v-if="!contactId") Welcome Screen
  div(v-if="contact && contactId")
    .chat(:class="{ chat__shrink: showInfo }")
      .chat-header.d-flex.align-center
        .chat-header-back(@click="backToList" v-show="!$vuetify.breakpoint.smAndUp")
            v-icon(size="24") mdi-arrow-left
        .chat-header-content.d-flex.align-center.pa-2(@click="toggleInfo")
          v-avatar
            v-img(:src="require(`@/assets/${contact.avatar}`)")
          .chat-header-info
            span.chat-header-info-name {{ contact.name }}
            p.chat-header-info-status.mb-0(v-if="contact.status == 'online'") {{ contact.status }}
            p.chat-header-info-status.mb-0(v-else) last seen at {{ $helpers.prettyDate(contact.lastSeen) }}
      .chat-content
        .chat-content-text(v-for="(message, i) in messages" :key="i" :class="message.dir == 'sent' ? 'chat-content-text__sent' : 'chat-content-text__recieved'")
          p.mb-0.pa-1 {{ message.text }}
          span {{ $helpers.prettyDate(message.timestamp, true) }}


      .chat-compose.pa-4.pt-0.pa-xs-2
        v-form.d-flex.justify-space-between.align-center(@submit.prevent)
            v-text-field(placeholder="type a message" v-model="newMessage")
            v-btn(type="submit" icon large color="primary" @click.stop="submitMessage")
                v-icon(size="18") mdi-send


    .contact-info(:class="showInfo ? 'contact-info__show' : 'contact-info__hide'")
      .contact-info-header.d-flex.align-center.pa-3
        .contact-info-header-close.mr-2.my-2
          v-icon(size="24")(@click="toggleInfo") mdi-close
        p.mb-0.text-center Contact info
      .contact-info-profile.d-flex.flex-column.align-center.justify-center.py-5.px-3
        v-avatar(size="100")
          v-img(:src="require(`@/assets/${contact.avatar}`)")
        .contact-info-profile-status.w-100
          h2 {{ contact.name }}
          p.mb-0(v-if="contact.status == 'online'") {{ contact.status }}
          p.mb-0(v-else) last seen at {{ $helpers.prettyDate(contact.lastSeen) }}
      .contact-info-about.pa-3
        h4.contact-info-about-title About and phone number
        p.contact-info-about-text.mb-0.py-2 {{ contact.info }}
        p.contact-info-about-number.mb-0.py-2 {{ contact.phone }}
      .contact-info-groups.pa-3
        h4.contact-info-groups-title Groups in common
        p.contact-info-groups-text.mb-0.py-2(v-for="(group, index) in groups", :key="index") {{ group }}

</template>

<script>
import { mapState } from "vuex";
import { getMessages, pushMessage } from "../utils/api";

export default {
  data() {
    return {
      showInfo: false,
      messages: {},
      newMessage: ''
    };
  },

  props: {
    contactId: { type: String },
  },

  computed: {
    ...mapState({
      contacts: (state) => state.contacts,
    }),

    contact() {
      return _.get(this.contacts, this.contactId, null);
    },

    groups() {
      return _.get(this.contact, "groups", null);
    },
  },

  mounted(){
      this.getMessages()
  },

  watch: {
      $route(to, from) {
          this.getMessages()
      }
  },

  methods: {
    toggleInfo() {
      this.showInfo = !this.showInfo;
    },

    scrollChatBox() {
      var container = this.$el.querySelector(".chat-content");
      container.scrollTop = 0;
    },

    getMessages() {
      getMessages(this.contactId).then((res) => {
        this.messages = res.data.messages;
      })
    },

    backToList() {
        this.$emit('backToList')
    },

    submitMessage(){
        let newMessage = {
            text: this.newMessage,
            timestamp: Date.now(),
            dir: 'sent'
        }
        this.messages.push(newMessage)
        pushMessage(this.contactId, {messages: this.messages}).then(()=> {
            this.newMessage = ''
            this.$emit('updateScroll')
        })
    }
  },
};
</script>

<style>
</style>