<template lang="pug">
main.main
  .list.pa-0(v-show="showContactList")
    v-list.pa-0
      .list-profile.d-flex.justify-space-between.align-center
        v-avatar.list-profile-photo
          v-img(:src="require(`@/assets/jonny.jpg`)")
        v-btn(icon color="primary" @click="$vuetify.theme.dark = !$vuetify.theme.dark")
          v-icon mdi-theme-light-dark
      v-form
        v-container
          v-row
            v-col(cols="12", sm="12", md="12")
              v-text-field(append-icon="mdi-magnify" v-model="searchQuery" placeholder="Search Contacts" filled rounded dense)
      div.list-items
        v-list-item.contact(v-for="(contact, index) in contactList" :key="index" :to="index" dense @click="handleChat")
          v-list-item-avatar
            v-img(:src="require(`@/assets/${contact.avatar}`)")
          v-list-item-content
            v-list-item-title.contact-title(v-html="contact.name")
            v-list-item-subtitle(v-html="_.get(_.last(contact.messages), 'text', '...')")
            span.contact-last-seen {{ $helpers.prettyDate(contact.lastSeen) }}

  Chat(:contactId="contactId" @updateScroll="scrollChat" @backToList="showContactList=true" v-show="$vuetify.breakpoint.smAndUp || !showContactList")
</template>

<script>
import { mapState } from "vuex"
import Chat from "./Chat"

export default {
  data() {
    return {
      searchQuery: "",
      showContactList: true
    };
  },

  props: {
    contactId: { type: String },
  },

  methods: {
    scrollChat() {
      let container
      let interval = setInterval(() => {
        if (container) {
          clearInterval(interval)
        }
        try {
          container = this.$el.querySelector(".chat-content")
          container.scrollTop = container.scrollHeight
        } catch {}
      }, 1);
    },

    handleChat(){
      if(!this.$vuetify.breakpoint.smAndUp) {
        this.showContactList = false
      }
      this.scrollChat()
    }
  },

  computed: {
    ...mapState({
      contacts: (state) => state.contacts,
    }),

    contactList() {
      return _.pickBy(this.contacts, (contact) => {
        return (
          contact.name
            .split(" ")
            .join("")
            .toLowerCase()
            .indexOf(this.searchQuery.split(" ").join("").toLowerCase()) > -1
        );
      });
    },

    contact() {
      return _.get(this.contacts, this.contactId, null)
    },
  },

  created() {
    this.scrollChat()
  },

  components: {
    Chat,
  },
};
</script>