<template lang="pug">
v-app
  router-view
</template>

<script>
export default {
  name: "App",

  data: () => ({
    //
  }),

  mounted() {
    if (_.isEmpty(this.$store.state.contacts)) {
      this.$store.dispatch("initContactList")
    }
  },
};
</script>

<style lang="scss">
 @import '~vuetify/src/styles/main.sass';
@import "./style/app.scss";
</style>
